# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.pdb
*.log
*.sqlite3

# Virtual Environment
/venv/
/env/

# Flask / Jinja templates cache
instance/
*.db

# MacOS
.DS_Store

# Linux
*~

#file
/uploads

# Windows
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env

# Gunicorn socket
*.sock

# Flask specific
*.pkl

mrz_data.csv
response.txt

